<%= form_for @route, :html => { :class => "form-inline" } do |f| %>
  <% if @route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@route.errors.count, "error") %> prohibited this route from being saved:</h2>

      <ul>
      <% @route.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "name" %>
    <%= f.text_field :name, :placeholder => "My First Route" %>
  </div>

  <h4>Locations</h4>

  <% index = 0 %>
  <%= f.fields_for :locations do |location_form| %>
    <% index += 1 %>
    <%= render :partial => 'location_fields', :locals => { :l => location_form, :index => index, :f => f } %>
  <% end %>

  <div>
    <%= link_to_add_fields "Add a Location", f, :locations %>
  </div>

  <div id="change_address" class="change-address modal hide fade">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Address Corrections</h3>
    </div>
    <div class="modal-body">
      <p class="address"></p>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button class="btn btn-primary">Use Verified Address</button>
    </div>
  </div>

  <br />

  <div class="actions">
    <%= link_to "Verify My Addresses", "javascript:void(0)", :class => "btn", :id => "verify_addresses" %>
    <%= f.submit "Create My Route", :class => "btn btn-primary" %>
  </div>
<% end %>

<script type="text/javascript">
  $('form').on('click', '#verify_addresses', function(event) {
    $.ajax({
      url: "<%= verify_collection_locations_path %>",
      type: "POST",
      data: $("form").serialize()
    }).done(function(data) {
      $("#change_address p.address").html("");
      jQuery.each(data, function(index, location) {
        var addressInput = $("#route_locations_attributes_"+location.index+"_address_string");
        if (location.verified) {
          $(addressInput).next("span.verified").html("valid");
        } else {
          var original_radio = '<label class="radio"><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked> original: </label>';

          var corrected_radio = '<label class="radio"><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked> correctd: </label>';

          $("#change_address p.address").append("<h5>Please select an address for location "+(location.index+1)+"</h5>");
          $("#change_address p.address").append(original_radio + " " + location.address_string + "<br />");
          $("#change_address p.address").append(corrected_radio + " " + location.verified_address + "<br />");
        }
      });
    });

    $('form').submit(function(event) {
      $("#change_address").modal('show');
      event.preventDefault();
    });
  });

  $('form').on('click', '.add_fields', function(event) {
    var time = new Date().getTime();
    var regexp = new RegExp($(this).data('id'), 'g');
    $(this).before($(this).data('fields').replace(regexp, time));
    event.preventDefault();
  });

  $('form').on('click', '.remove_fields', function(event) {
    $(this).prev('input[type=hidden]').val('1');
    $(this).closest('div.field').fadeOut();
    event.preventDefault();
  });
</script>