<h2>Route: <%= @route.name %></h2>

<p id="notice"><%= notice %></p>

<p>
  <b>Optimized:</b>
  <%= @route.optimized ? "yes" : "no" %>
</p>

<h4><%= pluralize(@route.locations.count, 'location') %></h4>
<% @route.locations.each do |location| %>
  <p>
    <b>address:</b>
    <%= location.address_string %>
  </p>
<% end %>

