<h2>Route: <%= @route.name %></h2>

<p id="notice"><%= notice %></p>

<p>
  <b>Optimized:</b>
  <%# @route.optimized ? "yes" : "no" %>
  yes
</p>

<h4><%= pluralize(@route.locations.count, 'location') %></h4>

<% @route.locations.each do |location| %>
  <p>
    <b>address:</b>
    <%= location.address_string %>
  </p>
<% end %>

<div class="controls">
  <%= link_to "Add Another Route", new_route_path, :class => "btn btn-inverse" %>
  <%= link_to '<i class="icon-print"></i> print'.html_safe, "#", :class => "btn", :id => "print_button" %>
  <%= link_to '<i class="icon-edit"></i> edit'.html_safe, edit_route_path(@route), :class => "btn" %>
  <%= link_to '<i class="icon-trash"></i> delete'.html_safe, route_path(@route), :method => :delete, :confirm => "Are you sure?", :class => "btn" %>
</div>


<div id="unoptimized">
  <ul>
    <li>Unoptimized Distance: <span id="unoptimized_distance">NA</span></li>
  </ul>

  <div id="unoptimized_map_canvas" class="map-canvas"></div>
  <div id="unoptimized_directions_panel" class="directions-panel"></div>  
</div>

<div id="optimized">
  <ul>
    <li>optimized Distance: <span id="optimized_distance">NA</span></li>
  </ul>

  <div id="optimized_map_canvas" class="map-canvas"></div>
  <div id="optimized_directions_panel" class="directions-panel"></div>  
</div>


<script type="text/javascript">
  var locations = <%= raw @route.locations.to_json %>;
  var addresses = <%= raw @route.locations.collect{|location| location.address_string}.to_json %>;

  OptiRoute.mapAndDirections.renderUnoptimized(locations, addresses);
  OptiRoute.mapAndDirections.renderOptimized(locations, addresses);

  $("#print_button").click(function(event) {
    event.preventDefault();
    window.print();
  });
</script>