<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Rails Prelaunch Signup" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Prelaunch Signup" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
	  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCk3z5kIzi65WoATUBPbJ7h3i5fyY7DlaQ&sensor=false"></script>
    <%= yield(:head) %>
  <body class="<%= controller_name %> <%= action_name %>" style="background-image: url( <%= asset_path("bg_base.png") %> );">
    <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container" style="position: relative;">
          <% if user_signed_in? %>
            <%= render 'layouts/app_navigation' %>
          <% else %>
            <%= render 'layouts/navigation' %>
          <% end %>
        </div>
      </nav>
    </header>
    <div id="main" role="main">
      <div class="container">
        <div class="content" style="background-image: url( <%= asset_path("bg_texture_content.png") %> ); border: 1px solid #a1a1a1;">
           <div class="row">
            <div class="span12">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
          </div>
          <footer>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </body>
</html>